.container
  .row.home-bt
    .col-md-offset-2
      .col-md-5
        %a.btn.btn-primary.home-btn{:href => "#{team_list_path}"}
          %i.fa.fa-users
          Team list
      .col-md-5
        %a.btn.btn-primary.home-btn{:href => "#{rules_path}"}
          %i.fa.fa-bars
          Rules
      .divider
      .col-md-5
        %a.btn.btn-primary.home-btn{:href => "#{match_list_path}"}
          %i.fa.fa-bullhorn
          Matches

      .col-md-5
        %a.btn.btn-primary.home-btn{:href => "#"}
          %i.fa.fa-archive
          Results

