.container
  .row.home-bt
    .col-md-offset-2
      - if @matches.count.zero?
        .col-md-10
          %a.btn.btn-primary.home-btn{:href => team_list_path}
            %i.fa.fa-bullhorn
              Auction
      - else
        .col-md-5
          %a.btn.btn-primary.home-btn{:href => "#{match_list_path}"}
            %i.fa.fa-bullhorn
            Fixtures

        .col-md-5
          %a.btn.btn-primary.home-btn{:href => "#{results_path}"}
            %i.fa.fa-archive
            Results
        .clearfix
        .divider
        .col-md-5
          %a.btn.btn-primary.home-btn{:href => "#{team_list_path}"}
            %i.fa.fa-users
            Team list
        .col-md-5
          %a.btn.btn-primary.home-btn{:href => "#{rules_path}"}
            %i.fa.fa-bars
            Rules

