%h3 Rules
%h4 How to Strike
%ul
  %li The Striker shall be struck and not pushed.
  %li The stroke shall be made with the finger with or without the support of other fingers.
  %li Any hand may be used in play.
  %li While making a stroke, the hand may touch the playing surface.
  %li While making a stroke, the elbow of the playing hand shall not come within the playing surface nor shall extend beyond the imaginary lines of the arrow.
  %li The hand may however cross the arrow.

%h4 Toss
%ul
  %li The team winning the toss can choose eithier side or break

%h4 Break
%ul
  %li The player who is to break shall have the white C/m during that board leaving the black C/m to his opponent. The Queen shall be the common C/m. 
  %li Break is considered to have been made, if the Striker touches any of the C/m even slightly.
  %li Break is not considered to have been made if no C/m is touched by the Striker in its usual run or jumping out. In that case, a maximum of two more chances shall be allowed.
  %li If after permissible number of chances, no C/m is touched, the right to Break shall be lost and the turn to play shall pass on to the opponent who shall have black C/m for play but no re-arrangement of C/m already arranged, shall be permitted. The above condition will prevail till the break is effected.
  %li If a player in his attempt to break, plays an improper stroke or pockets his striker without touching any of the c/m, he shall lose his turn. However, due/penalty shall not be applicable.

%h4 Score Points
%ul
  %li Match points - Winning points 
  %li Board points - Remaining C/m left in the board after every match
  %li Winning team gets 15 match points.
  %li The team captures Queen get 5 match points irrespective of the result.
  %li Board points will be considered only if 2 teams have equal match points.

%h4 How to Score
%ul
  %li The player who completes pocketing all his C/m first wins the board.
  %li Queen is 5 points and C/m is 1 point each.

%h4 Foul
%ul
  %li Any act of violation of the Laws committed by the player shall be deemed as Foul. A Foul shall entail one C/m of the offending player being brought out for placing by the opponent and the turn to play shall be lost.
  %li While pocketing the C/m and/or Queen, if a Foul is committed, the number of C/m and/or Queen so pocketed with an additional C/m shall be brought out for placing and the turn of the player shall be lost.

%h4 C/m Overboard
%ul
  %li If a C/m and/or Queen jump out of the playing surface, the jumped C/m and/or the Queen shall be placed by the Umpire in the Centre Circle, if space permits, covering it fully or the maximum portion of it that is available.
  %li If both the Queen and a c/m jump in the same stroke preference shall be given to place the Queen first and the jumped c/m shall be placed, touching the Queen, in the opposite direction of the player presently having his turn.
  %li If both White and Black c/m jump in the same stroke, preference shall be given to place the c/m of the player who made that stroke first and the other c/m shall be placed, touching the first c/m in the manner described in current section rule b.
  %li If more than 2 c/m jump in the same stroke, the placing of the first 2 c/m shall be in accordance with current section rule b and current section rule c. The rest of the c/m shall be placed, touching the first 2 c/m, as far as possible.
  %li If c/m and/or Queen jump out and fall back on the playing surface, the c/m and/or Queen shall be placed by the Umpire in the Centre Circle as per Laws. The position of the disturbed c/m, if any, shall be corrected by the Umpire, as far as possible, at his discretion.
  %li If, however, c/m and/or Queen jump out and fall back on the playing surface, except touching players body, it shall be considered to have naturally travelled. Disturbed c/m, if any, shall not be rearranged.

%h4 C/m Rolling and Overlapping
%ul
  %li If c/m and/or Queen stands on its rim, it shall be allowed to remain as it is.
  %li If two C/m and/or Queen overlap each other, they shall be left undisturbed.
  %li If the Striker rests on c/m and/or Queen, the Striker shall be removed without disturbance to the C/m and/or Queen by the Umpire. If disturbed, the original position of the c/m and/or Queen shall be restored, as far as possible, by the Umpire.
  %li If this happens at the mouth of the pocket and in the process of removal of the Striker the C/m and/or Queen lose its centre of gravity and fall into the pocket, they shall be deemed to have been pocketed.
  %li If C/m and/or Queen rest on the striker, the Striker shall be removed by the Umpire by lifting the C/m and/or Queen and replacing them, as far as possible, in the original position where they would rest if the Striker was not there.
  %li If, however, this happens at the mouth of the pocket and in the process of removal of the c/m and/or Queen, the Striker loses its centre of gravity and falls into the pocket, it shall be deemed to have been pocketed. A Due shall be declared to be imposed as per the Laws.
  %li If a C/m resting perilously at the mouth of the pocket and actually falls into the pocket for any reason, it shall be considered as not pocketed.


