%h1 Auction Rules
%h3 Total - 35 players
%ul
  %li Teams should buy minimum 9 players including owners and captains. Should the teams failing to do so, will be disqualified.
  %li Each team has a bucket of 1500 points
  %li Base points for captain player is 300 points and for other players, 10 points.
  %li Bid can be increased by multiples of 10's.
  %li Exchanging players are allowed between teams by their mutual understandings and under knowledge of panel members.
  %li Once the tournament starts, teams can't exchange players.
%h3 Joker / Wild Card Rules
%ul
  %li Each team is allowed to use the JOKER card only once
  %li This card can be used to block one player from your team or pull a player from others team.
  %li When the deal for a player is done, the team who selected the player gets priority to block him before the next player auction starts.
  %li Both BUY or PULL can be done at any point of time during auction
%h3 Tournament Format
%ul
  %li A player from a team can play min 1 to max 3 matches
  %li A player cannot play consecutive matches
  %li A team should give atleast one chance for every player else the team will be disqualified for final
%h3 Point System
%ul
  %li
    Winning points -
    %b 15
  %li
    Queen / Red points -
    %b 5
